<router-outlet>
  <h1 class="font-medium leading-tight mt-0 mb-2">Top 5 Videojuegos</h1>
  <div class="grid px-auto">
    <div class="max-w-sm rounded overflow-hidden border">
      <img class="w-full" src="../assets/isaac.jpg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">The Binding of Isaac</div>
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Sinopsis</span>
        <p class=" text-base">
          Es un videojuego independiente de rol de acción y de mazmorras (dungeon crawler) roguelike donde el jugador intenta escapar de su propia madre, la cual piensa que debe de sacrificar a su hijo para completar su tarea dada por Dios.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Opinion personal</span>
        <p class=" text-base">
          De lejos mi juego favorito, la tematica bullet hell que maneja, ademas de que con toda la variedad de combinaciones, mezcolanzas de cuartos e items hacen cada partida muy distinta al resto, ademas de los varios desafios que posee lo hacen siempre dinamico para nunca cansarme de el.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2 text-center">
        <a href="https://www.youtube.com/watch?v=27Le3kOOFQk">Trailer</a>
      </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden border">
      <img class="w-full" src="../assets/hollow.jpeg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Hollow Knight</div>
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Sinopsis</span>
        <p class=" text-base">
          Es un videojuego de acción lateral en 2D desarrollado y publicado por Team Cherry. Cuenta la historia del Caballero, en su búsqueda por descubrir los secretos del largamente abandonado reino de los insectos de Hallownest, cuyas profundidades atraen a los aventureros y valientes con la promesa de tesoros o la respuesta a misterios antiguos.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Opinion personal</span>
        <p class=" text-base">
          Aunque su diseño es muy simple por el hecho de ser 2D, la dificultad que posee asi como la historia lo hacen un verdadero reto que me gusto jugar y sufrir para poder completarlo con todos sus posibles finales.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2 text-center">
        <a href="https://www.youtube.com/watch?v=UAO2urG23S4">Trailer</a>
      </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden border">
      <img class="w-full" src="../assets/honkai.jpg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Honkai Impact 3rd</div>
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Sinopsis</span>
        <p class=" text-base">
          Es un videojuego de acción de rol gratuito con mecánica gacha y Hack and Slash. Todo sucede en una versión alternativa de la Tierra, la cual está plagada de catástrofes resultantes del Honkai, un fenómeno cíclico que regresa para poner fin a la civilización en la Tierra cada vez que avanza demasiado. Además, el Honkai se conoce como una fuerza malévola con voluntad propia, capaz de corromper a los humanos en criaturas no muertas, manifestarse en distintos monstruos e incluso seleccionar a varios individuos, denominados Herrschers, inducidos con poderes divinos capaces de desencadenar estos eventos apocalípticos.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Opinion personal</span>
        <p class=" text-base">
          Aunque es un poco frustrante el tema del gatcha, el diseño de personajes asi como la historia y los eventos que realiza, lo hacen variado y con una historia extensa que hace que alguien nuevo en este tipo de juegos pueda abrumarlo facilmente, pero para alguien expermientado en gatchas es un juego que seguro les agrada.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2 text-center">
        <a href="https://www.youtube.com/watch?v=ppDfdCnOF1o">Trailer</a>
      </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden border">
      <img class="w-full" src="../assets/dmc.jpg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Devil May Cry</div>
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Sinopsis</span>
        <p class=" text-base">
          La primera entrega, cuenta la historia de Dante y su batalla contra Mundus, el Príncipe de las Tinieblas. Al ser hijo de Sparda, Dante usa el poder de su herencia demoníaca para derrotar a Mundus. Al explorar el inmenso castillo gótico que servía como escenario del juego, Dante se encuentra con Vergil y Trish, su hermano gemelo idéntico y un demonio que se asemeja a su madre humana y debe lidiar con una araña demoníaca gigantesca llamada Phantom.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Opinion personal</span>
        <p class=" text-base">
          Aunque varias partes de la saga son malas (por ejemplo el remake) realmente la historia de Dante atrapa bastante y te dan ganas de saber mas de su trasfondo, mezclado con que aun para estos tiempos (hablando de los primeros juegos) los graficos y dificultad que posee siguen siendo bastante buenos
        </p>
      </div>
      <div class="px-6 pt-4 pb-2 text-center">
        <a href="https://www.youtube.com/watch?v=8herTMJSYQA">Trailer</a>
      </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden border">
      <img class="w-full" src="../assets/bayonetta.jpg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Bayonetta</div>
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Sinopsis</span>
        <p class=" text-base">
          Bayonetta tiene lugar en Vigrid, una ciudad ficticia en Europa. El personaje principal (con la voz de Hellena Taylor) es una bruja que cambia de forma y usa varias armas de fuego, junto con ataques mágicos que realiza con su propio cabello al convocar demonios para despachar a sus enemigos. Ella se despierta después de un sueño de 500 años y se encuentra en un área desconocida sin recuerdos de quién o qué es. Ella debe derrotar a los angeles para poder recordar su pasado, asi como para descubrir que traman.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 px-3 py-1 mr-2 mb-2">Opinion personal</span>
        <p class=" text-base">
          Es un juego cuya historia me agrado bastante, debido a que siempre me ha gustado el tema de las paradojas temporales, ademas de mezclar ese tipo de historias con una tematica hack and slash es lo que hace que sea uno de mis juegos favoritos
        </p>
      </div>
      <div class="px-6 pt-4 pb-2 text-center">
        <a href="https://www.youtube.com/watch?v=h7PZ1i992kc">Trailer</a>
      </div>
    </div>
    
  </div>
  
</router-outlet>
